body{
	background-color: beige;
	box-sizing: border-box;
	text-align: center;
}
.container{
	background-color: lightblue;
	width: 500px;
	height: 750px;
	border-radius: 10px;
	box-sizing: border-box;
	
	position: absolute;
	top: 100px;
	left: 685px;
	padding-left: 5px;
	padding-right: 5px;
}
.header{
	font-size: 20px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 4px;
	
}
h4{
	text-align: center;
	text-decoration: underline;
}

.chromosome{
	text-align: center;
	line-height: .5;
	margin-bottom: 25px;
}

.weight, .height, .age{
	width: 25px;
	text-align: center;
}
.weight{
	margin-left: 10px;
}
.height{
	margin-left: 19px;
}
.age{
	margin-left: 98px;
}
p.total{
	line-height: 0.1;
}
.bodyInfo{
	position: absolute;
	bottom: 220px;
	right: 20px;
	text-decoration: underline;
.info{
	position: absolute;
	top: -350px;
	right: 30px;
	background-color: grey;
	border-radius: 10%;
	width: 25em;
	display: inline-block;
	cursor: pointer;
	
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.info p{
	text-decoration: none;
	font-size: 14px;
	width: 90%;
	padding-left: 19px;
	padding-top: 5px;
	padding-bottom: 5px;
}
/* Actual pop up */
.bodyInfo .info{
	visibility: hidden;
	z-index: 1;
}
	/* Pop up arrow */
.bodyInfo .info::after{
	content: "";
	position: absolute;
	top: 330px;
	right: 40px;
	border-style: solid;
	border-width: 9px;
	border-color: grey;
	transform: rotate(45deg);
}
.bodyInfo .show{
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}
.submit{
	position: absolute;
	right: 215px;
	bottom: 145px;
}
#totalBmr, #totalCal, #totalCarb, #totalPro, #totalFat{
	font-weight: bold;
	
}

/* Toggle this class - hide and show the popup */
@-webkit-keyframes fadeIn{
	from {opacity: 0;}
	to {opacity: 1;}
}
/* Add animation (fade in the popup) */
@keyframes fadeIn{
	from {opacity: 0;}
	to {opacity: 1;}
}
	
@media screen and (max-width: 992px){
	body{
		background-color: black;
		
	}
	#contain{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height:100%;
		display: table;
	}
	#totalBmr, #totalCal, #totalCarb, #totalPro, #totalFat{
		font-weight: bold;
		color: green;
	}
}

@media screen and (max-width: 600){
	body{
		background-color: black;
	}
	#contain{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height:100%;
		display: table;
	}
	#totalBmr, #totalCal, #totalCarb, #totalPro, #totalFat{
		font-weight: bold;
		color: green;
	}
	
}
